/* для мобильной версии до 768*/
@media (max-width: 768px){
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 1vw;
        min-width: 275px;
    }
    .nav{
        display: none;
    }
    .contact a{
        font-size: 18px;
        margin-right: 70px;
    }
    .link__call{
        display: none;
    }
    .logo-img{
        width: 80px;

    }
    .header-inner{
        height: 50px;
        position: relative;
    }
    .contact{
        margin-right: 5px;
    }


    .hamb-menu{
        width: 35px;
        height: 26px;
        border: 1px solid #000;
        position: absolute;
        display: block;
        right: 10px;
    }
    .hamp-item{
        position: absolute;
        width: 24px;
        height: 2px;
        background: #000;            
        left: calc(50% - 12px);
        transition: 0.5s;
        transform-origin: 50% 50%;
    }
    .hamp-item-1{
        top: 7px;            
    }
    .hamp-item-2{
        top: 12px;
    }
    .hamp-item-3{
        top: 17px;
    }
    .hamb-menu:hover .hamp-item-1{
        transform: rotate(45deg);
        /* left: calc(50% - 12px); */
        top: calc(50%);
    }
    .hamb-menu:hover .hamp-item-3{
        transform: rotate(-45deg);
        /* left: calc(50% -12px); */
        top: calc(50%);
    }
    .hamb-menu:hover .hamp-item-2{
        transform: scale(0)
    }
    .contact{
    margin-right: 55px;
    }
    .promo h1{
    max-width: 760px;
    width: auto;
    font-size: 2rem;
    line-height: 2rem;
    }
    .promo h3{
        font-style: 1.2rem;
        line-height: 1.4rem;
        text-align: center;
        margin-top: 1rem;
    }
    .btn-cta{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 12px;
    height: 40px;
    line-height: 40px;
    font-style: 1.1rem;
    margin-top: 1.4rem;
    }
}